/* font-family: 'Roboto', sans-serif; */
body {
    color: #fff;
    background-color: #000;
    margin: 0px;
}

header {
    color: #000;
    background-color: #E5E5E5;
    width: 20%;
    height: 100%;
    position: fixed;
    padding-top: 2%;
}

h1 {
    text-align: center;
    margin: 0px;
}

main {
    position: relative;
    padding-top: 2%;
}